@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

* {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	margin: 0;
}

body {
	align-items: center;
	display: flex;
	font-family: 'Roboto Condensed', sans-serif;
	justify-content: center;
	user-select: none;
	transition: opacity 1s;
	overflow: hidden;
}

body[unresolved] {
	opacity: 0;
}

header {
	font-size: 8vw;
	line-height: 2em;
	text-align: right;
}

h1, h2 {
	font-weight: 300;
	font-variant: small-caps;
	margin: 0;
	pointer-events: none;
}

a {
	cursor: pointer;
	display: block;
	margin: 1vw 0;
	height: 3vw;
}

aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 8vw;
}

svg {
	display: block;
	height: 100%;
	transition: fill .2s;
	width: 100%;
}

[aria-hidden] {
	display: none;
}

[aria-label=Bitbucket] svg { fill: #0049B0; }
[aria-label=CV] svg { fill: #555; }
[aria-label=GMail] svg { fill: #e23a26; }
[aria-label=GPG] svg { fill: #0093dd; }
[aria-label=LinkedIn] svg { fill: #0077b5; }
[aria-label=Twitter] svg { fill: #1da1f2; }

@media (min-width: 800px) {
	header {
		font-size: 4em;
	}
	aside {
		width: 4em;
	}
	a {
		height: 1.5em;
		margin: .5em 0;
	}
}

@media (max-width: 420px) {
	body {
		flex-direction: column;
	}
	aside {
		flex-direction: row;
		margin-top: 10vw;
		width: 75vw;
	}
	a {
		margin: 0 1vw;
		height: 8vw;
	}
	[aria-label=CV] svg { fill: #555; }
	[aria-label=Facebook] svg { fill: #3b5998; }
	[aria-label=GMail] svg { fill: #e23a26; }
	[aria-label=Instagram] svg { fill: #003569; }
	[aria-label=LinkedIn] svg { fill: #0077b5; }
	[aria-label=Twitter] svg { fill: #1da1f2; }
}